<html>
    <body>
        
        {% if name %}
        <h1> Holla! {{name}}</h1>
        {% else%}
        <h1>Hello world</h1>
        {% endif %}

        {{result}}
        <p> <b>1. How many orders do we have?</b> </p>

            {{result1}}
        <br>

        <p><b> 2.How many units of product 1 have we sold?</b> </p>
      
            {{result2}}
        <br>
        <p><b> 3. How many orders has customer 1 placed?</b></p>
            {{result3}}
        <br>
       <p><b>4. What is the min, max and average price of the products in collection 3? </b>  </p> 
       <br>
            {{result4}}
        </ul>
    </body>
</html>
